# WordPress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore
# OMS adoption by André Brückner

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
#/wp-admin/
#/wp-content/index.php
#/wp-content/languages
#/wp-content/plugins/index.php
#/wp-content/themes/index.php
#/wp-includes/
#/index.php
#/license.txt
#/readme.html
#/wp-*.php
#/xmlrpc.php
#/*.ini
#/*.xml
#/*.sql

# Configuration
wp-config.php

# OMSLP - ignore on OMSWWW
/lp/

# wp-content misc
/wp-content/advanced-cache.php
/wp-content/cache/
/wp-content/languages/
/wp-content/mailster*
/wp-content/nfwlog/
/wp-content/ninjascanner/
/wp-content/object-cache.php
/wp-content/updraft/
/wp-content/upgrade/
/wp-content/upgrade-temp-backup/
/wp-content/vimeography/
/wp-content/wp-rocket-config/

# Themes
# Exclude wp default themes
/wp-content/themes/twentytwenty*/

# All Plugin
# All plugins are in repository, even the custom plugins

# Exclude plugins with own repository
#/wp-content/plugins/bb-modules/
#/wp-content/plugins/bb-oms-modules/
#/wp-content/plugins/pmpro-oms-customizations/


# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes